body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}

.task-card .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.border-danger {
  border-color: red !important;
}

.border-warning {
  border-color: orange !important;
}

.border-success {
  border-color: green !important;
}